.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b0b0f;
}

.auth-card {
    background: #15151c;
    padding: 40px;
    border-radius: 16px;
    width: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-card input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #0f0f14;
    color: white;
}

.auth-card button {
    padding: 12px;
    background: #ff7a45;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}