.sidebar {
    width: 220px;
    height: 30vh;
    background: #03277b;
    color: white;
    padding: 20px;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #0d2728;
    color: white;
    padding: 15px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #9ca3af;
}

.menu li:hover,
.menu .active {
    background: #1f2937;
    color: white;
}