.card{
  background:#111827;
  padding:24px;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.title{
  margin-bottom:18px;
  font-weight:600;
  font-size:18px;
}

.chartWrapper{
  width:170px;
  margin-bottom:20px;
}

.stats{
  display:flex;
  gap:60px;
  margin-top:10px;
}

.label{
  color:#9ca3af;
  font-size:13px;
  margin-bottom:4px;
  text-align:center;
}

.value{
  font-weight:600;
  text-align:center;
}
